@import 'variables'

.bg-1
  background-color: $color-custom-1

.bg-2
  background-color: $color-custom-2

.bg-3
  background-color: $color-custom-3

.bg-4
  background-color: $color-custom-4

.bg-5
  background-color: $color-custom-5

.shadow-card
  background-color: $color-shadow
  padding: 20px 30px 20px 30px
  border-radius: 2px

.font-xl-responsive
  font-size: $font-size-xl
  @include breakpoint(xs)
    font-size: $font-size-md

.cursor-pointer
  cursor: pointer

.container-main
  padding-top: 2rem
  padding-bottom: 3rem

.input-primary
  border-top: none
  border-left: none
  border-right: none
  border-bottom: 2px solid #adadad
  border-radius: 0
  color: white
  padding-left: 0
  background: transparent
  &::placeholder
    color: lightgrey
  &:focus
    color: white
    border-top: none
    border-left: none
    border-right: none
    background-color: transparent
    border-color: #e4e4e4
    outline: 0
    box-shadow: none

.appear
  animation: 1s appear

@keyframes appear
  0%
    opacity: 0

  100%
    opacity: 1