@import 'node_modules/bootstrap/scss/bootstrap.scss'
@import 'node_modules/bootstrap-vue/src/index.scss'
@import 'mixins'
@import 'generics'

html, body
  background-image: url("../assets/background.jpg")
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  height: 100%
  width: 100%
  background-color: $color-black-1

.legend
  font-size: $font-size-xxl
  @include breakpoint(xs)
    font-size: $font-size-xl
    text-align: center

.search-dropdown
  background-color: transparent
  padding-top: 5px
  padding-bottom: 5px
  color: white

.search-input
  @extend .input-primary
  @extend .font-xl-responsive

.result-container
  overflow-y: auto
  max-height: 40em
  div:last-of-type
    border-bottom: 0!important

.result-card
  overflow: hidden
  color: white
  border-bottom: 1px solid white
  padding: 0.8rem 10px

.meta-result-card
  @extend .result-card
  cursor: pointer
  &:hover
    background-color: $color-highlight
    border-radius: 3px

.meta-result-card.highlight
  background-color: $color-highlight
  border-radius: 3px

.modal-content
  background-color: $color-shadow-dark
  color: white

.modal-input-label
  color: $color-custom-2
  font-size: 12px

.custom-btn-black
  background-color: transparent
  color: white
  border-color: white
  &:hover
    background-color: white
    color: black
  &:disabled
    color: lightgrey
    background-color: transparent
    cursor: auto
    &:hover
      background-color: transparent

.input-invalid-message
  color: $color-error
  font-size: 14px

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0
