<template>
  <b-modal
    id="create-record"
    ref="createRecordModal"
    title="Create Record"
    content-class=""
    hide-footer
  >
    <template v-slot:modal-header-close>
      <font-awesome-icon
        class="text-white"
        icon="times-circle"
      />
    </template>
    <ValidationObserver
      v-if="!success"
      v-slot="{ invalid }"
      rules="required"
    >
      <b-form @submit.prevent="onSubmit()">
        <ValidationProvider
          v-slot="{ errors }"
          name="Title"
          rules="required"
        >
          <b-form-group
            label="Title of song:"
            label-class="modal-input-label"
          >
            <b-form-input
              id="title"
              v-model="form.title"
              class="input-primary"
              placeholder="Please enter the title for record"
            />
            <span class="input-invalid-message">{{ errors[0] }}</span>
          </b-form-group>
        </ValidationProvider>
        <ValidationProvider
          v-slot="{ errors }"
          name="Artist"
          rules="required"
        >
          <b-form-group
            label="Artist of song:"
            label-class="modal-input-label"
          >
            <b-form-input
              id="artist"
              v-model="form.artist"
              class="input-primary"
              placeholder="Please enter the artist for record"
            />
            <span class="input-invalid-message">{{ errors[0] }}</span>
          </b-form-group>
        </ValidationProvider>
        <ValidationProvider
          v-slot="{ errors }"
          name="ISRC"
          rules="length:12"
        >
          <b-form-group
            label="ISRC code of the song:"
            label-class="modal-input-label"
          >
            <b-form-input
              id="isrc"
              v-model="form.isrc"
              class="input-primary"
              placeholder="Please enter the artist for record"
            />
            <span class="input-invalid-message">{{ errors[0] }}</span>
          </b-form-group>
        </ValidationProvider>
        <ValidationProvider
          v-slot="{ errors }"
          name="Duration"
          rules="numeric"
        >
          <b-form-group
            label="Duration of the song (as seconds):"
            label-class="modal-input-label"
          >
            <b-form-input
              id="duration"
              v-model="form.duration"
              class="input-primary"
              placeholder="Please enter the duration for record"
            />
            <span class="input-invalid-message">{{ errors[0] }}</span>
          </b-form-group>
        </ValidationProvider>
        <b-button
          class="custom-btn-black"
          type="submit"
          :disabled="invalid"
        >
          Submit Record
          <font-awesome-icon
            v-if="loading"
            class="fa-spin"
            icon="circle-notch"
          />
        </b-button>
      </b-form>
    </ValidationObserver>
    <div v-if="success">
      <h2 class="text-white text-center">
        Your record has been successfully added !
      </h2>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: "CreateRecordModal",
  data() {
    return {
      loading: false,
      success: false,
      form: {}
    }
  },
  mounted() {
    this.$root.$on('bv::modal::hidden', (bvEvent, modalId) => {
      if(modalId === "create-record") {
        this.success = false;
      }
    })
  },
  methods: {
    openModal: function () {
      this.$refs.createRecordModal.show("create-record")
      this.form = {
        ...this.$store.state.selectedMetaData
      }
    },
    hideModal: function () {
      this.$refs.createRecordModal.hide("create-record")
    },
    onSubmit: function () {
      this.loading = true;
      let payload = {
        artist: this.form.artist,
        title: this.form.title,
        isrc: this.form.isrc,
        duration: parseInt(this.form.duration),
      };
      this.$store.dispatch('createMetaData', payload)
        .then((response) => {
          this.$store.dispatch('setRecordOnMetaData', response.data.id).then(() => {
            this.loading = false;
            this.success = true;
            setTimeout(this.hideModal, 3000)
          });
        })
    }
  }
}
</script>

<style scoped>

</style>