<template>
  <div class="appear">
    <div class="container container-main">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white legend">
            Discover the Amazing Music
          </h1>
        </div>
        <div class="col-md-12">
          <b-form class="mt-3 shadow-card">
            <b-input-group>
              <b-form-input
                v-model="searchValue"
                class="search-input"
                placeholder="Enter artist, record name or ISRC code"
              />
              <b-input-group-append class="align-items-center">
                <font-awesome-icon
                  :style="{color: searchLoading ? 'white' : 'lightgrey'}"
                  :class="{'fa-spin': searchLoading, 'font-xl-responsive': true}"
                  :icon="searchIcon"
                  size="2x"
                />
              </b-input-group-append>
            </b-input-group>
          </b-form>
        </div>
        <div class="col-lg-6">
          <div class="shadow-card mt-3">
            <div class="d-flex justify-content-between">
              <h5 class="text-white font-xl-responsive">
                Meta Data Results:
              </h5>
            </div>
            <div v-if="records" class="result-container">
              <div
                v-for="item in metadata"
                :key="item.id"
                @click="changeSelectedMetaData(item)"
                :class="{'meta-result-card': true, 'highlight': selectedMetaData.id === item.id}" >
                <h6 class="mb-1">
                  {{ item.artist }} - {{ item.title }}
                </h6>
                <span>
                  {{ item.isrc }}
                </span>
                <span v-if="item.duration">
                  {{ secondsToText(item.duration) }}
                </span>
              </div>
            </div>
            <transition name="fade">
              <h5
                v-if="metadata.length === 0 && searchValue && !databaseSearch && !searchLoading"
                class="text-white text-center">
                We couldn't find any meta data with the input
              </h5>
            </transition>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="shadow-card mt-3">
            <div class="d-flex justify-content-between">
              <h3 class="text-white font-xl-responsive">
                Search Results:
                <span v-if="!databaseSearch">{{ selectedMetaData.artist }} - {{ selectedMetaData.title }}</span>
                <span v-if="databaseSearch">From Database</span>
              </h3>
              <font-awesome-icon
                v-if="selectedMetaData.id"
                id="create-icon"
                class="cursor-pointer text-white"
                icon="plus-circle"
                size="2x"
                @click="openModalCreateModalHandler"
              />
              <CreateRecordModal ref="createRecordModal" />
            </div>
            <span
              v-if="!databaseSearch && selectedMetaData.id"
              style="color: lightgrey"
            >
              Didn't like the results ?
              <span
                class="font-weight-bold cursor-pointer text-white"
                @click="toggleSearch"
              >
                Switch
              </span>
              to whole database search
            </span>
            <span
              v-if="databaseSearch"
              style="color: lightgrey">
              <span
                class="font-weight-bold cursor-pointer text-white"
                @click="toggleSearch"
              >Switch</span>
              back to meta data search
            </span>
            <div class="result-container">
              <div v-for="item in records" :key="item.id" class="result-card d-flex justify-content-between align-items-center" >
                <div>
                  <h6 class="mb-1">
                    {{ item.artist }} - {{ item.title }}
                  </h6>
                  <span>
                    {{ item.isrc }}
                  </span>
                  <span v-if="item.duration">
                    {{ secondsToText(item.duration) }}
                  </span>
                </div>
                <b-button v-if="selectedMetaData"
                          class="custom-btn-black"
                          @click="match(item)">
                  Match
                </b-button>
              </div>
            </div>
            <transition name="fade">
              <h5
                v-if="records.length === 0 && searchValue && (selectedMetaData[0] || databaseSearch ) && !searchLoading"
                class="text-white text-center mt-4">
                We couldn't find any records
              </h5>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import './styles/style.sass'
import moment from 'moment'
import store from "./store/store";
import CreateRecordModal from "./components/CreateRecordModal";
import { mapState } from "vuex";
import Toast from "./plugins/toast";

export default {
  name: 'App',
  store,
  components: {
    CreateRecordModal
  },
  data() {
    return {
      searchValue: "",
    }
  },
  computed: {
    ...mapState([
      "selectedMetaData",
      "metadata",
      "records",
      "databaseSearch",
      "searchLoading"
    ]),
    searchIcon() {
      return this.searchLoading ? "circle-notch" : "search"
    }
  },
  watch: {
    searchValue(val) {
      if(val) {
        if(this.databaseSearch) {
          this.$store.dispatch('getRecords', val)
        } else {
          this.$store.dispatch('getMetaData', val)
        }
      }
    }
  },
  methods: {
    changeSelectedMetaData(item) {
      if(!this.databaseSearch) {
        this.$store.dispatch('selectMetaData', item)
      }
    },
    secondsToText(value) {
      return moment.utc(value*1000).format('mm:ss');
    },
    toggleSearch() {
      this.$store.commit('TOGGLE_DATABASE_SEARCH');
      this.searchValue = ''
    },
    openModalCreateModalHandler: function () {
      this.$refs.createRecordModal.openModal();
    },
    match(item) {
      this.$store.dispatch('setRecordOnMetaData', item.id).then(() => {
        Toast.fire({
          icon: 'success',
          title: 'Matched successfully'
        })
      })
    }
  },
}
</script>

<style>

</style>
